################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GZipTest/bin/Debug
/GZipTest/obj/Debug
/.vs/GZipTest/v14/.suo
/GZipTest/bin/Release
/GZipTest/obj/Release
